logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# Database configuration with sensitive information
conf/database.conf

# Email configuration with sensitive information
conf/email.conf