@(signupForm: Form[SignUpData])(implicit request: MessagesRequestHeader, flash : Flash)
@import helper._

@main("SignUpWithForm") {
  <h2>Sign Up With Form</h2>

  @form(action = routes.MessageController.signUpWithFormValidate()) {
    @CSRF.formField
    @inputText(signupForm("username"),  '_label -> "Username",  'autocomplete -> "username")
    @inputPassword(signupForm("password"), '_label -> "Password", 'autocomplete -> "new-password")
    <button type="submit">Create Account</button>
  }
}
