@(tasks : Seq[models.Task])(implicit flash : Flash, request : RequestHeader)

@main("Task List") {

  <h2>Task List</h2>

    <ul>
    @for((task, i) <- tasks.zipWithIndex) {
        <li>
            @task.description
            @helper.form(action = routes.TaskController.deleteTask()) {
                @helper.CSRF.formField
                <input type="hidden" name="index" value="@i">
                <button type="submit">Delete Task</button>
            }
        </li>
    }
    </ul>


    <form method="post" action="@routes.TaskController.addTask()">
    @helper.CSRF.formField
    <input type="text" name="task" placeholder="New task">
    <button type="submit">Add Task</button>
  </form>

  <div>
    <a href="@routes.HomeController.logout()">Logout</a>
  </div>

}
